<!--総合評価ポップアップ-->
<ons-popover direction="up" var="popover" cancelable="true">
	<div style="padding: 10px; text-align: center;">
		<p>
			評価内訳
		</p>
	</div>
</ons-popover>

<!-- レビュー投稿 -->
<ons-modal var="myModal" direction="up" ng-controller="ReviewController as rv" class="modal-content">

	<ons-card style="color:black">
		<div>Reviews</div>
		<div style="text-align: center; margin-top: 30px">
			<p>
				<ons-input id="stars" modifier="underbar" placeholder="★出すとこ" float ng-model="page.stars"></ons-input>
			</p>
			<p>
				<ons-input id="comment" modifier="underbar" placeholder="コメント" float ng-model="page.comment"></ons-input>
			</p>
			<ons-button tappable ng-click="myModal.hide()">Cancel</ons-button>
			<ons-button tappable ng-click="saveReview();showToast()">Submit</ons-button>
		</div>
		<dl class="accordion">
			<ons-button tappable ng-click="flag = !flag">open</ons-button>

			<dd ng-class="{hide: !flag}">
				<!--非表示ここから-->
				<table class="hiddenbox">
					<tr>
						<td>営業時間</td>
						<td>
							開始時間<input type="time" class="text-input" ng-model="inputStartTime" />
						</td>
						<td>
							終了時間<input type="time" class="text-input" ng-model="inputEndTime" />
						</td>
					</tr>
					<tr>
						<td>休業日</td>
						<td colspan="2">
							<table>
								<tr>
									<td>
										<ons-checkbox input-id="check-DotW" ng-model="rv.Monday"></ons-checkbox> 月</td>
									<td>
										<ons-checkbox input-id="check-DotW" ng-model="rv.Tuesday"></ons-checkbox> 火</td>
									<td>
										<ons-checkbox input-id="check-DotW" ng-model="rv.Wednesday"></ons-checkbox> 水</td>
									<td>
										<ons-checkbox input-id="check-DotW" ng-model="rv.Thursday"></ons-checkbox> 木</td>
									<td>
										<ons-checkbox input-id="check-DotW" ng-model="rv.Friday"></ons-checkbox> 金</td>
									<td>
										<ons-checkbox input-id="check-DotW" ng-model="rv.Saturday"></ons-checkbox> 土</td>
									<td>
										<ons-checkbox input-id="check-DotW" ng-model="rv.Sunday"></ons-checkbox> 日</td>
									<!-- <option value="Monday">月</option>
								<option value="Tuesday">火</option>
								<option value="Wednesday">水</option>
								<option value="Thursday">木</option>
								<option value="Friday">金</option>
								<option value="Saturday">土</option>
								<option value="Sunday">日</option>
							</ons-select> -->
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<ons-checkbox input-id="check-youshiki" ng-model="rv.youshiki"></ons-checkbox> 洋式</td>
						<td>
							<ons-checkbox input-id="check-washiki" ng-model="rv.washiki"></ons-checkbox> 和式</td>
						<td>
							<ons-checkbox input-id="check-washlet" ng-model="rv.washlet"></ons-checkbox> ウォシュレット</td>
					</tr>
					<tr>
						<td>
							<ons-checkbox input-id="check-youshiki" ng-model="rv.youshiki"></ons-checkbox> 洋式</td>
						<td>
							<ons-checkbox input-id="check-washiki" ng-model="rv.washiki"></ons-checkbox> 和式</td>
						<td>
							<ons-checkbox input-id="check-washlet" ng-model="rv.washlet"></ons-checkbox> ウォシュレット</td>
					</tr>
					<tr>
						<td>
							<ons-checkbox input-id="check-youshiki" ng-model="rv.youshiki"></ons-checkbox> 洋式</td>
						<td>
							<ons-checkbox input-id="check-washiki" ng-model="rv.washiki"></ons-checkbox> 和式</td>
						<td>
							<ons-checkbox input-id="check-washlet" ng-model="rv.washlet"></ons-checkbox> ウォシュレット</td>
					</tr>
					<tr>
						<td>
							<ons-checkbox input-id="check-youshiki" ng-model="rv.youshiki"></ons-checkbox> 洋式</td>
						<td>
							<ons-checkbox input-id="check-washiki" ng-model="rv.washiki"></ons-checkbox> 和式</td>
						<td>
							<ons-checkbox input-id="check-washlet" ng-model="rv.washlet"></ons-checkbox> ウォシュレット</td>
					</tr>
					<tr>
						<td>
							<ons-checkbox input-id="check-youshiki" ng-model="rv.youshiki"></ons-checkbox> 洋式</td>
						<td>
							<ons-checkbox input-id="check-washiki" ng-model="rv.washiki"></ons-checkbox> 和式</td>
						<td>
							<ons-checkbox input-id="check-washlet" ng-model="rv.washlet"></ons-checkbox> ウォシュレット</td>
					</tr>
					<tr>
						<td>
							<ons-checkbox input-id="check-youshiki" ng-model="rv.youshiki"></ons-checkbox> 洋式</td>
						<td>
							<ons-checkbox input-id="check-washiki" ng-model="rv.washiki"></ons-checkbox> 和式</td>
						<td>
							<ons-checkbox input-id="check-washlet" ng-model="rv.washlet"></ons-checkbox> ウォシュレット</td>
					</tr>
					<tr>
						<td>
							<ons-checkbox input-id="check-youshiki" ng-model="rv.youshiki"></ons-checkbox> 洋式</td>
						<td>
							<ons-checkbox input-id="check-washiki" ng-model="rv.washiki"></ons-checkbox> 和式</td>
						<td>
							<ons-checkbox input-id="check-washlet" ng-model="rv.washlet"></ons-checkbox> ウォシュレット</td>
					</tr>
					<tr>
						<td>
							<ons-checkbox input-id="check-youshiki" ng-model="rv.youshiki"></ons-checkbox> 洋式</td>
						<td>
							<ons-checkbox input-id="check-washiki" ng-model="rv.washiki"></ons-checkbox> 和式</td>
						<td>
							<ons-checkbox input-id="check-washlet" ng-model="rv.washlet"></ons-checkbox> ウォシュレット</td>
					</tr>
				</table>
				<!--ここまで-->
			</dd>
		</dl>
	</ons-card>
</ons-modal>

<!-- submitした時にjsのshowToast()から呼び出されるtoast-->
<!-- レビュー取り消し等も要るかも -->
<!-- toastはiPhoneだとfabbuttonがズレてくれなくて重なってしまう 要改善 -->
<ons-toast var="toast" style="position:fixed">
	投稿しました<button ng-click="toast.hide()">HIDE</button>
</ons-toast>

<ons-toast var="toast2" style="position:fixed">
	トイレ情報を変更しました<button ng-click="toast.hide()">HIDE</button>
</ons-toast>